<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-title style="background-color:#EA7979;">Help Button</ion-title>
    <ion-icon size="large" routerLink = "/recipe" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>



<ion-content>
 
<style>
  .dropbtn {
    background-color:#C4C4C4;
    color: black;
    padding: 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:#C4C4C4;
  }
  </style>

<div class="dropdown">
  <button class="dropbtn">Choose the mistake you did by clicking this button</button>
  <div class="dropdown-content">
  <a href="#">(French Toast)Your toast has a layer of black, but beneath it, you're convinced you'll find a perfect shade of golden brown. So grab a four-sided cheese grater, says Baldini, and a bowl. In a gentle, circular motion, rub the blackened side of the toast across the grater and let the burned pieces fall into a bowl.</a>
  <a href="#">(Chicken Alfredo/Too much parmesan cheese)Add more cooked and drained pasta and toss it with reserved pasta cooking water, a little at a time. Maybe add some butter. Add some black pepper and red pepper flakes to taste.</a>
  <a href="#">(Scrambled Eggs & Avocado Toeast) If yout scrabled eggs are too salty then add in one more egg put dont put anymore salt</a>
  <a href="#">(Spaghetti & Meatballs) Add a squirt of fresh lemon juice to the sauce and stir well. The acidity in lemon juice cancels out the flavor of excess salt without changing the taste of the spaghetti sauce.</a>
  <a href="#">(Omelette) if there is still liquid egg rolling around the pan, keep stirring. There should be some viscosity to the eggs, though. If the eggs are completely coagulated, your omelet will tear as you roll.</a>
  <a href="#">(Spaghetti) To fix over-salted meats, just give them a quick rinse under running water, and pat them dry with a paper towel when you're done.</a>
  <a href="#">(My pancakes are sticking) Lightly heat the pan then remove from the heat, place butter/oil in the centre then take a piece of greaseproof paper and use it to grease the pan. Make sure every part of the surface is covered - even a little spot of ungreased pan can make the pancake stick. </a>
  <a href="#">(What if the Oatmeal is too watery?) Pour the oatmeal into a bowl and microwave for 1-2 minutes. It will have to suck up the extra liquid as it cooks!</a>
  <a href="#">(Strawberry & Raspberry Smoothie) To make a better smoothie, skip the fruit juice and limit the amount of real fruit to one cup. If you are mixing fruits, split it by how many you are using, for example, a half cup of banana and a half cup of strawberries. </a>
  <a href="#">(Ham Sandwich)If you added to much mayo into your sandwich lightly scrape it off with a spoon</a>
  <a href="#">(How do you fix overcooked chicken?)Pull your chicken into shreds with a fork or your hands and toss it in some barbecue sauce.</a>
  </div>
</div>

</ion-content>
