<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-buttons style="background-color:#EA7979;" routerLink = "/recipe" href="#" class="previous">&laquo; Back</ion-buttons>
    <ion-title>Help Button</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
 
<style>
  .dropbtn {
    background-color:#C4C4C4;
    color: black;
    padding: 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:#C4C4C4;
  }
  </style>

<div class="dropdown">
  <button class="dropbtn">Choose the mistake you did by clicking this red button</button>
  <div class="dropdown-content">
  <a href="#">If you added too much salsa then do this... </a>
  <a href="#">If your food got burned do this...</a>
  <a href="#">(Scrambled Eggs & Avocado Toeast) If yout scrabled eggs are too salty then add in one more egg put dont put anymore salt</a>
  <a href="#">(Spaghetti & Meatballs) Add a squirt of fresh lemon juice to the sauce and stir well. The acidity in lemon juice cancels out the flavor of excess salt without changing the taste of the spaghetti sauce.</a>
  <a href="#">If the meat is too salty then do this...</a>
  <a href="#">If the meat is too salty then do this...</a>
  <a href="#">If the meat is too salty then do this...</a>
  <a href="#">If the meat is too salty then do this...</a>
  </div>
</div>

</ion-content>
