<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-buttons style="background-color:#EA7979;" routerLink = "/recipe" href="#" class="previous">&laquo; Back</ion-buttons>
    <ion-title>Ingredients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://www.thespruceeats.com/thmb/qS4IQnMAnvmFmN9Jpa9sV5C85DM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/slow-cooker-spaghetti-and-meatballs-479957-Ingredients-5baf8f8d4cedfd0026e065f3.jpg"/>
    <ion-card-header>
    <ion-card-title>Spaghetti & Meatballs</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Half a cup of box Spaghetti</li>
    <li>1 egg</li>
    <li>¼ cup of water</li>
    <li>⅓ of an onion, finely cut</li>
    <li>¾ cups of grated parmesan cheese</li>
    <li>1 garlic clove</li>
    <li>½ teaspoons of salt</li>
    <li>1.2 teaspoons of pepper</li>
    <li>1 pound of ground beef.</li>
    <li>tomato sauce</li>
    </ion-card-content>
  </ion-card>

</ion-content>
