<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-buttons style="background-color:#EA7979;" routerLink = "/ingredients" href="#" class="previous">&laquo; Previous</ion-buttons>
    <ion-title>Steps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://prods3.imgix.net/images/articles/2017_07/nonfeatured-stove-knobs.jpg?auto=format%2Ccompress&dpr=2&ixjsv=2.2.3&q=50&w=750"/>
    <ion-card-header>
    <ion-card-title> Step 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Turn on your stove & wash your hands</li>
    </ion-card-content>
    </ion-card>

  <ion-card>
    <img src="https://cdn.instructables.com/FIT/46QN/F2ZML5RA/FIT46QNF2ZML5RA.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds"/>
    <ion-card-header>
    <ion-card-title>Step 2: Start Cooking Beef + Onions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Chop of the onions as small as you like.</li>
    <li>Add onions and ground beef to largish fry pan.</li>
    <li>Put them on medium heat and mix them up.</li>
    </ion-card-content>
    </ion-card>

  <ion-card>
    <img src="https://cdn.instructables.com/FTN/S6X9/F2ZML5RO/FTNS6X9F2ZML5RO.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds"/>
    <ion-card-header>
    <ion-card-title>Step 3: Add Salsa and Cumin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Once the beef is browned add 1 teaspon of cumin and add all of the fresh salsa.</li>
    <li>Mix and cook for about 15-20 minutes. Do not cover. You don't want it too wet at the end, but it will be juicy.</li>
    </ion-card-content>
    </ion-card>
  
  <ion-card>
    <img src="https://cdn.instructables.com/F6I/YP3J/F2ZML5RF/F6IYP3JF2ZML5RF.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds"/>
    <ion-card-header>
    <ion-card-title> Step 4: Get Cheese, Tomatoes and Lettuce Ready</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Grate your cheese.</li>
    <li>Sharpen your knife. Cut up the tomatoes.</li>
    <li>Wash and dry your lettuce.</li>
    </ion-card-content>
    </ion-card>

  <ion-card>
    <img src="https://cdn.instructables.com/FUW/IFB7/F2ZML5R8/FUWIFB7F2ZML5R8.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds"/>
    <ion-card-header>
    <ion-card-title> Step 5: Part 1 Make the Taco Shells</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Pour your vegetable oil in an 8" fry pan.</li>
    <li>Put it on med/low heat. You can test if it's ready by putting a small dash of water from your finger and if it starts popping, you're ready.</li>
    <li>Each tortilla will only take a couple of minutes to cook.</li>
    </ion-card-content>
    </ion-card>

  <ion-card>
    <img src="https://cdn.instructables.com/FG7/Q0OD/F2ZML5QX/FG7Q0ODF2ZML5QX.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds"/>
    <ion-card-header>
    <ion-card-title> Step 6: Part 2 Make the Taco Shells</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Place a tortilla in the oil, after a minute or so, flip it, then take it out. You'll have to experiment to see how crispy you like your shells, the longer you cook them, the crispier they will get.</li>
    <li>Place your shells on a paper grocery bag or a bunch of paper towels to soak up the excess oil.</li>
    </ion-card-content>
    </ion-card>

  <ion-card>
    <img src="https://cdn.instructables.com/FY3/8KKE/F2ZML5RS/FY38KKEF2ZML5RS.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds"/>
    <ion-card-header>
    <ion-card-title> Step 7: Garnish and Serve</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Now put your tacos together with quantities that fit your appetite.</li>
    <li>Put in the beef.</li>
    <li>Then the cheese.</li>
    <li>Then the tomatoes.</li>
    <li>Then the lettuce.</li>
    </ion-card-content>
    </ion-card>

  <ion-card>
    <img src="https://photos.bigoven.com/recipe/hero/tacos-11.jpg?h=500&w=500"/>
    <ion-card-header>
    <ion-card-title> Step 8: Enjoy!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <h3>You have now succesfully finsihed cooking some homemade tacos!</h3>
    </ion-card-content>
    </ion-card>   
    

</ion-content>

