<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
  <ion-title style="background-color:#EA7979;">Ingredients</ion-title>
  <ion-icon size="large" routerLink = "/recipe" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://cdn.instructables.com/F2X/NV0S/H5TUC3N6/F2XNV0SH5TUC3N6.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds"/>
    <ion-card-header>
    <ion-card-title>French Toast</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>3 Eggs</li>
    <li>1/8-1/4 cup sugar of choice</li>
    <li>1/2 cup of milk/</li>
    <li>2 slices of bread</li>
    <li>1/2 tsp vanilla</li>
    <li>cinnamon to taste - we used about 1/4 tsp</li>
    </ion-card-content>
  </ion-card>  

  <ion-toolbar>
    <ion-title>Steps</ion-title>
  </ion-toolbar>

  <ion-card>
    <img src="https://s3-alpha-sig.figma.com/img/1ebc/189b/94df324e96aa1aca11d92889f604b44c?Expires=1595203200&Signature=EKWI14kd8BvVOH4XjYk8gaHCPhjjvVz9LSzEw7vXsSq0NzdhIJHmmatQbFmfCDoKQ8qYzcPVins2C6rlconGDabVJmB0Oz2Oihho7Sz5sqKf-zBk2f2o8VqY5CXZ7JNznKke0Tx~WCc8v7H5ajNPbEP9vGNfGNdUY6nLv34YSE99Zw5mFaNcpY177z9TbWFp-yzBU3o8sukC8A999diM~d4GKNp1XoVNZZBZgHzo~nJCh2V04NQQ2tr62VlsdI6ZrMaFOX4SeOljRNb~gUc4ojC2YS31Ae5GF2L2RHKyjRoJTnkJnBDv~v4e0SG9sHrrw6QEVBWVGxSyLPP4P8ELVQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" width="400" height="350" />
    <ion-card-header>
    <ion-card-title>Step 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Combine the Milk and Eggs. Beat the eggs and then add the milk and whisk a little more</li>
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <img src="https://cdn.instructables.com/FQ2/HX6U/H5TU7AQN/FQ2HX6UH5TU7AQN.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds" width="400" height="350" />
    <ion-card-header>
    <ion-card-title>Step 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Add Sugar and Vanilla. Add whatever sugar you like, some cinnamon and a bit of vanilla.</li>
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <img src="https://s3-alpha-sig.figma.com/img/e467/d13f/3cf9bd5bb49c0764b14d3638e054577f?Expires=1595203200&Signature=S8dViBeK~xYnN1z4Q5OBuyPuwFY7QYypkwe8ehEr~teOUF-xkIgoQ3vpvA~ZhpA9eBvg6~QopQLp5on3uHhlRfzRiwL79fRTUj4FVU-2jYoOOG9IaAEcsxwRx7pvqKj0WZ~3giDKzFUraTuF~yBGO4o2c-WmLFDJKlPoA6LNIquCU8JX-SUgot7hGbfPYGM3UycTeB-s~fiAE9ToYZWqRixxHgEyEtTRlHtIU6hRO-cS0w7pafUuMLSMxpSVd1dUtgGvi5OfgNeWKBEDMptVLazRgYhe1ZlGNtRLRuUVNp~tHIfd312ZwpsEZZkjKW7QpSeO5lBF562o2hhDOO7JsQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" width="400" height="350"/>
    <ion-card-header>
    <ion-card-title>Step 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Dip bread in egg mixture, turning to coat both sides evenly.</li>
    <li>Cook bread slices on lightly greased nonstick griddle or skillet on medium heat until browned on both sides.</li>
    </ion-card-content>
  </ion-card>    

  <ion-card>
    <img src="https://s3-alpha-sig.figma.com/img/b5e7/a71a/dd82c15517731490651b06b64e98c011?Expires=1595203200&Signature=QPzar0oSrMHg5Hve~WVeUPZPBFEGBPeyUkLolthB8Xf2jcFuzTM56vS~4hZDGEWPf7awL0Law0x8~Vhjyi3xIrVWMU5FH2DpfgBfPuLsmSBCebRNaJGLb6FE8~iZk8pcE~Fdkj9DLLtZXFTnxO08~vVQGIUkoDWjAMeTJ~udu6KXtdQcq9OsxqI0a208PIsWqJItZ3E9t-u7zQOdvcKfnNvgy8Nmd-y-UsT1l513cC39W0nZEv5BZndyq6up4j4KTuBs6bWxSUJEYPjLiNwsm1wUoiISw0Hv-zSyL9kbcCIO8LLvKb94WvzopwLatrIHPl31ZNrNvNoNd8jlxnYVfw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" width="400" height="350"/>
    <ion-card-header>
    <ion-card-title>Step 4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Serve with Easy Spiced Syrup (recipe follows), if desired & Enjoy.</li>
    </ion-card-content>
  </ion-card>  

</ion-content>
