<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-buttons style="background-color:#EA7979;" routerLink = "/recipe" href="#" class="previous">&laquo; Back</ion-buttons>
    <ion-title>Ingredients</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>

  <ion-card>
    <img src="https://1.bp.blogspot.com/-PAGzvhNoHAo/UTv_pePgGTI/AAAAAAAAEAQ/Kg_Fh2C-Mfk/s1600/010.JPG"/>
    <ion-card-header>
    <ion-card-title>Scrambled Eggs with Avocado Toast</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>2 Eggs</li>
    <li>Salt</li>
    <li>Pepper</li>
    <li>Parsley</li>
    <li>1 Slice of Bread</li>
    <li>Half an Avocado</li>
    </ion-card-content>
  </ion-card>

  <ion-toolbar>
    <ion-title>Steps</ion-title>
  </ion-toolbar>

  <ion-card>
    <img src="https://media1.popsugar-assets.com/files/thumbor/rQ3la0wFoQ5Cfm2RoFXIydofXOs/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2016/03/24/042/n/1922398/08c4b5c174a84169_scramble_main.jpg"/>
    <ion-card-header>
    <ion-card-title>Step 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Wash your hands</li>
    <li>In a mixing bowl crack open 2 eggs and a pinch of salt and a pinch of pepper. Mix for 1 minute</li>
    <li>Next in a large non-stick pan add 2 teaspoons of oil over medium heat. Let heat up for 1 minute.</li>
    <li>Next, pour the eggs into the pan. Keep moving the eggs until you see that the egg is on longer raw.</li>
    <li>When your finish, turn off your stove</li>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Making_toasts.jpg"/>
    <ion-card-header>
    <ion-card-title>Step 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Put 1 slice of bread in a toaster </li>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://i.pinimg.com/474x/04/52/80/045280155bfa48aa4a20472f074c14dc.jpg"/>
    <ion-card-header>
    <ion-card-title>Step 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Grab your avocado and cut it in half</li>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://data.thefeedfeed.com/recommended/posts-8315728.jpg"/>
    <ion-card-header>
    <ion-card-title>Step 4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Next Spread avocado on bread</li>
    <li>Place your eggs and bread with avocado in a plate & Enjoy!</li>
    </ion-card-content>
  </ion-card>

</ion-content>
