<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-title style="background-color:#EA7979;">Ingredients</ion-title>
    <ion-icon size="large" routerLink = "/recipe" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://cdn.apartmenttherapy.info/image/upload/v1558444872/k/archive/095fc07fde0a324ca594c3aec4c05f50f9db7120.jpg"/>
    <ion-card-header>
    <ion-card-title>Chicken Alfredo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Salt</li>
    <li>Black Pepper</li>
    <li>Rosemary</li>
    <li>Garlic</li>
    <li>½ cup of heavy cream</li>
    <li>½ clove garlic crushed</li>
    <li>½ cup of parmesan cheese grated</li>
    <li>2 tablespoon of cut parsley</li>
    </ion-card-content>
  </ion-card>

  <ion-toolbar>
    <ion-title>Steps</ion-title>
  </ion-toolbar>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/1/1f/Cook-Chicken-Alfredo-Step-1-Version-3.jpg/aid2362776-v4-728px-Cook-Chicken-Alfredo-Step-1-Version-3.jpg"/>
    <img src="https://www.wikihow.com/images/thumb/3/3c/Cook-Chicken-Alfredo-Step-2-Version-3.jpg/aid2362776-v4-728px-Cook-Chicken-Alfredo-Step-2-Version-3.jpg.webp"/>
    <ion-card-header>
    <ion-card-title>Step 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Wash your hands and grab any pasta you have at home.</li>
    <li>Place 1 cup of water in a pot and leave it untill it boilslet, then put your ½ cup of pasta in your boiling water and let it cook for 10-14 mi until your pasta is soft and easy to rip over medium heat. </li>
    <li>Check your pasta every 5mi to see if it is soft.</li>
    <li>Next grab a non-stick pan then add 2 tablespoons of cooking oil to your pan</li>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/a/a8/Cook-Chicken-Alfredo-Step-3-Version-3.jpg/aid2362776-v4-728px-Cook-Chicken-Alfredo-Step-3-Version-3.jpg"/>
    <ion-card-header>
    <ion-card-title>Step 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Next, grab a cutting board then wash your hands then grab your chicken make sure to not wash your chicken at all!!</li>
    <li>Cut up the amount of chicken you want on the cutting board.</li>
    <li>Then add ½ teaspoon of salt and ½ teaspoon of black pepper and ½ teaspoon of rosemary and cut up garlic next add your seasoning to your chicken.</li>
    <li>Next grab a non-stick pan then add 2 tablespoons of cooking oil to your pan</li>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/8/8a/Cook-Chicken-Alfredo-Step-6-Version-3.jpg/aid2362776-v4-728px-Cook-Chicken-Alfredo-Step-6-Version-3.jpg.webp"/>
    <ion-card-header>
    <ion-card-title>Step 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Cook your chicken until you see no pink chicken.</li>
    <li>Cut a piece of the chicken and see if there's pink, if so keep it cooking, </li>
    <li>If not, turn off the stove and let your chicken rest for 5 minutes</li>
    <li>cut your chicken into long strips</li>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/2/27/Cook-Chicken-Alfredo-Step-9-Version-3.jpg/aid2362776-v4-728px-Cook-Chicken-Alfredo-Step-9-Version-3.jpg.webp"/>
    <img src="https://www.wikihow.com/images/thumb/1/17/Cook-Chicken-Alfredo-Step-11-Version-3.jpg/aid2362776-v4-728px-Cook-Chicken-Alfredo-Step-11-Version-3.jpg.webp"/>
    <ion-card-header>
    <ion-card-title>Step 4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Melt butter in a medium saucepan over medium-low heat. Add cream and cook for 5 minutes,</li>
    <li>Then add garlic and cheese and whisk quickly, heating through. Stir in parsley</li>
    <li></li>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/7/72/Cook-Chicken-Alfredo-Step-12-Version-3.jpg/aid2362776-v4-728px-Cook-Chicken-Alfredo-Step-12-Version-3.jpg.webp"/>
    <ion-card-header>
    <ion-card-title>Step 5</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Stir the drained pasta into the sauce.</li>
    <li>Turn off the burner and put the cooked fettuccine into the pot with the sauce.</li>
    <li>Use tongs or a spoon to toss the noodles so they're completely coated with the sauce.</li>
    <li></li>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/e/e0/Cook-Chicken-Alfredo-Step-13-Version-3.jpg/aid2362776-v4-728px-Cook-Chicken-Alfredo-Step-13-Version-3.jpg.webp"/>
    <ion-card-header>
    <ion-card-title>Step 6</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Get a bowl and place your pasta than your chicken then your sauce</li>
    <li>Enjoy!</li>
    </ion-card-content>
  </ion-card>

</ion-content>
